.gradient-1 {
  background: linear-gradient(223.28deg, rgba(255, 255, 255, 0.2) 15.01%, rgba(255, 255, 255, 0) 88.14%), linear-gradient(0deg, #27ADC5, #27ADC5), #000000;
}
.gradient-2 {
  background: linear-gradient(180deg, rgba(96, 102, 117, 0.15) 0%, rgba(96, 102, 117, 0) 100%), linear-gradient(0deg, #151619, #151619), #C4C4C4;
}
.gradient-3 {
  background: linear-gradient(189.21deg, rgba(255, 255, 255, 0.2) 15.01%, rgba(255, 255, 255, 0) 88.14%), linear-gradient(0deg, #27ADC5, #27ADC5);
}
.gradient-4 {
  background: linear-gradient(90deg, #7F86FF -52.14%, rgba(86, 164, 160, 0) 125%);
}
.gradient-5 {
  background: linear-gradient(#2d3037, #2d3037) padding-box, linear-gradient(to right, #6ED4CA 0%, #27ADC5 100%) border-box;
}
.gradient-6 {
  background: linear-gradient(270deg, #FF3C2A 0%, #FFD600 51.94%, #64B239 100%), #C4C4C4;
}
.gradient-7 {
  background: linear-gradient(#929CB2 0%, rgba(71, 76, 87, 0) 100%);
}