.text-shadow-1 {
  text-shadow: 0px 0px 7px rgba(39, 173, 197, 0.5);
}

.text-shadow-2 {
  text-shadow: 0px 0px 7px rgba(89, 167, 51, 0.5);
}

.text-shadow-3 {
  text-shadow: 0px 0px 7px rgba(110, 212, 202, 0.5);
}

.text-shadow-4 {
  text-shadow: 0px 0px 7px rgba(39, 173, 198, 0.5);
}

.text-shadow-5 {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.text-shadow-6 {
  text-shadow: 0px 0px 7px rgba(255, 49, 34, 0.5);
}