$asian-lang : ".lang-jp &, .lang-kr & ,.lang-cn &";

$main-col : #28c0f2; //04, 233, 255
$main-font : Rajdhani;

$main-filter : drop-shadow(3px 3px 20px rgba(40, 192, 242, .7));
$wide-filter : drop-shadow(8px 8px 20px rgba(40, 192, 242, .7));


$back_col       : #000b1c;
$main_menu      : #000c1c;
$sub_menu       : #001528;
$tool_bar       : #000c1b;
$active_col     : #00c6f6;
$non_col        : #006994;
$main_border    : #0080b6;
$active_border  : #00c9f8;
$main_scroll    : #00e0ff;
$passive_pane   : #001528;
$icon_border    : #00aeca;
//photoshop

//https://openbase.com/js/@types/bootstrap-slider
$pane_color     : #0e1724