.notched {
  --notchSize: 12%;
  clip-path: polygon(
    var(--notchSize) 0,
    100% 0,
    100% 100%,
    0 100%,
    0 var(--notchSize)
  ); // top-left corner notch removed for now because of the border issue

  --border-color: rgb(59 130 246);
  --border-width: 4px;
}

.btnTokenLabel {
  color: white;
  font-size: small;
  font-weight: 500;
  border-radius: 0.25rem;
  justify-content: center;
  width: 6rem;
  height: 1.5rem;
  background-color: #2e3d64;
  --notchSizeBottomRight1: 15%;
  --notchSizeBottomRight2: 10%;
  --notchSizeTopLeft1: 40%;
  --notchSizeTopLeft2: 10%;
  clip-path: polygon(
    0% var(--notchSizeTopLeft1),
    var(--notchSizeTopLeft2) 0%,
    100% 0%,
    100% 0%,
    100% calc(70% - var(--notchSizeBottomRight1)),
    calc(100% - var(--notchSizeBottomRight2)) 100%,
    0% 100%,
    0% 100%
  );
  margin-left: 113px;
}

.sharesQuantity {
  background-color: var(--color-dark-gray);
  border: 1px solid var(--tw-color-blue-600);
  border-radius: 4px;
  color: white;
  margin-right: 40px;
  //height: 83px;
  // opacity: 0.5;
  //margin-top: 20px;
  width: 134px;

  &.picker {
    //margin-top: 10px;

    .count {
      display: flex;
      align-items: center;
      justify-content: center;

      .controls {
        margin-left: 10px;
        margin-top: 12px;
      }

      .checkbox {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        padding-left: 16px;
        padding-right: 10px;

        input {
          border: 1px solid var(--color-dark-blue);
          border-radius: 2px;
          background-color: transparent;
          cursor: pointer;

          &:checked {
            background-color: var(--color-royal-blue);
          }

          &:focus {
            box-shadow: none;
            outline: none;
          }
        }

        label {
          cursor: pointer;
          font-size: 10px;
          font-weight: 350;
          text-transform: uppercase;
        }
      }
    }
  }

  .title {
    font-size: 12px;
    text-align: center;
    opacity: 1;
  }

  .count {
    font-size: 20px;
    font-weight: 500;
    margin-top: -5px;
    opacity: 1;
  }
}
